﻿@{
    Layout = "_Layout";
}
<div>
    <h2>Кандидаты для отправки на Марс</h2>
</div>

<p class="text-info">для сортировки нажмите на заголовок</p>
<!-- Modal Window -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Кандидат для отправки</h4>
            </div>

            <form id="worksheetForm" name="worksheetForm">
                <div class="modal-body">
                    <input type="hidden" name="id" value="0" />
                    <div class="form-group">
                        <label for="surname">Фамилия:</label>
                        <input class="form-control" name="surname" />
                    </div>
                    <div class="form-group">
                        <label for="name">Имя:</label>
                        <input class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="secondName">Отчество:</label>
                        <input class="form-control" name="secondName" />
                    </div>
                    <div class="form-group">
                        <label for="bornDate">Дата рождения:</label>
                        <input type="datetime" class="form-control" name="bornDate" />
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Номер телефона:</label>
                        <input type="tel" class="form-control" name="phoneNumber" />
                    </div>
                </div>
                <div class="modal-footer panel-body">
                    <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
                    <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-1"><a id="tableId">Id</a></th>
                <th class="col-md-2"><a id="tableSurname">Фамилия</a></th>
                <th class="col-md-2"><a id="tableName">Имя</a></th>
                <th class="col-md-2"><a id="tableSecondName">Отчество</a></th>
                <th class="col-md-1"><a id="tableDate">Дата рождения</a></th>
                <th class="col-md-2"><a id="tableEmail">E-mail</a></th>
                <th class="col-md-1"><a id="tablePhone">Номер телефона</a></th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="col-md-12 text-center">
    <ul class="pagination" id="pagingId"></ul>
</div>

<p class="text-success">Выберите CSV файл для загрузки:</p>
<form class="form-inline col-md-8" method="post" enctype="multipart/form-data" action="api/Upload">
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="file" class="btn" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-sm btn-primary">Загрузить</button>
        </div>
    </div>
</form>

<div class="col-md-2">
    <a class="btn btn-primary btn-sm" href="/api/upload/data.csv">Скачать</a>
</div>

<div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm" id="modalButton" data-toggle="modal" data-target="#modalWindow">Добавить кандидата</button>
</div>

<script src="js/main.js"></script>